body{
    background-color: black;
}
.numbers{
}
button{
 
}
.operadores{
    background-color: orange;
    border-radius: 100%;
    width: 50px;
    height: 50px;
}
.boton{
    background-color: rgb(69, 69, 69);
    color: white;
    border-radius: 100%;
    width: 50px;
    height: 50px;
}
.botón{
    background-color: rgb(69, 69, 69);
    color: white;
    border-radius: 100%;
    width: 50px;
    height: 50px;
}
#resultado h2{
    color: white;
}
